<h1>Ms. Cocktail suggests...</h1>
<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
<% end %>
<h3><%= link_to "Suggest a cocktail", new_cocktail_path %>
